.app{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://cdn0.ecologiaverde.com/es/posts/7/2/9/que_es_la_climatologia_3927_orig.jpg');
    background-position: center;
    background-size: cover;
    
}